<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HeBianGu.Common.LocalConfig" version="2.0.1" targetFramework="net45" />
  <package id="HeBianGu.Control.Chart2D" version="1.0.1" targetFramework="net45" />
  <package id="HeBianGu.Control.Drawer" version="1.0.1" targetFramework="net45" />
  <package id="HeBianGu.Control.ImagePlayer" version="1.0.1" targetFramework="net45" />
  <package id="HeBianGu.Control.Ping" version="1.0.1" targetFramework="net45" />
  <package id="HeBianGu.Control.TopContainer" version="1.0.1" targetFramework="net45" />
</packages>