[*.cs]

# CS0067: 从不使用事件“CollapsedOfOpacityCommand.CanExecuteChanged”
dotnet_diagnostic.CS0067.severity = none

file_header_template =Copyright © 2022 By HeBianGu(QQ:908293466) https://github.com/HeBianGu/WPF-ControlBase
