# Auto detect text files and perform LF normalization
* text=auto
*.css linguist-language=C#
*.less linguist-language=C#
*.js linguist-language=C#
*.html linguist-language=C#
*.xaml linguist-language=C#
