<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HeBianGu.Base.WpfBase" version="2.1.1" targetFramework="net45" />
  <package id="HeBianGu.Common.LocalConfig" version="2.0.1" targetFramework="net45" />
  <package id="HeBianGu.General.WpfControlLib" version="2.1.1" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net45" />
</packages>