<?xml version="1.0" encoding="utf-8"?>
<PropertyRotes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Propertys>
    <Property Id="1" Default="HeBianGu" Name="学生名称" Group="基本信息">
      <Required/>
    </Property>

    <Property Id="2" Default="北京" Name="常用地址" Desc="常用地址" ItemSource="北京,成都" Group="基本信息">
      <Required/>
    </Property>

    <Property Id="2.1" Default="南京航空航天大学" Name="学校信息" Desc="学校信息" ItemSource="北京大学,吉林大学,南京航空航天大学" Group="选择类型">
      <Required/>
    </Property>

    <Property Id="2.2" Default="北京大学" Name="学校信息" Desc="学校信息" ItemSource="北京大学,吉林大学"  Group="选择类型">
      <Required/>
    </Property>

    <Property Id="1.1" Default="1" Name="身高" Desc="身高描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.2.1" Default="10" Name="体重" Desc="体重描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.2.2" Default="18.8" Name="年龄" Desc="年龄描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.1" Default="1500000" Name="行驶速度" Desc="行驶速度描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.2" Default="0.8" Name="参考参数" Desc="参考参数描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.3" Default="Uniform" Name="范围选择" Desc="输出频率描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.4" Default="0.8" Name="参考参数" Desc="滤波器形状因子描述信息" Group="基本信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.5" Default="选择输出" Name="是否选择" Desc="是否选择描述信息" Group="详细信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.6" Default="D:\\My Document" Name="保存路径" Desc="保存路径描述信息" Group="配置信息" Index="1">
      <Required/>
    </Property>

    <Property Id="1.3.7" Default="170" Name="身高" Desc="身高描述信息" Group="配置信息" Index="1">
      <Required/>
      <Range Min="100" Max="200"/>
    </Property>

    <Property Id="1.3.8" Default="20" Name="年龄" Desc="年龄描述信息" ItemSource="11,22,33,44,55,66,77,88"  Group="配置信息" Index="1">
      <Required/>
      <Range Min="1" Max="100"/>
    </Property>

    <Property Id="1.3.9" Default="True" Name="是否在线" Desc="是否在线描述信息"  Group="配置信息" Index="1">
    </Property>

    <Property Id="1.3.10" Default="1,1,1,0,1" Name="参数集合" Desc="是否在线描述信息"  Group="配置信息" Index="1">
      <Required/>
      <Range Min="5" Max="5" Error="子项长度必须是5项"/>
      <ItemValidations>
        <Required/>
        <Range Min="0" Max="1"/>
      </ItemValidations>
    </Property>
  </Propertys>
</PropertyRotes>