<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HeBianGu.Base.WpfBase" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Common.Expression" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.Diagram" version="4.0.10" targetFramework="net45" />
  <package id="HeBianGu.Control.GridSplitter" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.Guide" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.Host" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.LeftMenu" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.Message" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.MessageContainer" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.MultiComboBox" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.PagedDataGrid" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.Panel" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.PasswordBox" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.PropertyGrid" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.ScrollInto" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.ScrollVewerLocator" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.ThemeSet" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Control.ToggleExpander" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.General.WpfControlLib" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.Animation" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.AppConfig" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.License" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.MarkupExtension" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.Mvp" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Service.TypeConverter" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Systems.Repository" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Systems.Setting" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Systems.XmlSerialize" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Window.Link" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Window.Message" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Window.MessageDialog" version="5.0.0" targetFramework="net45" />
  <package id="HeBianGu.Window.Start" version="4.0.10" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net45" />
</packages>